* {
  box-sizing: border-box;
  font-family: Helvetica;
}

section .label-primary > a {
	color: white;
	text-decoration: none;
}

section {
  margin-top: 20px;
}

section > article {
  background-color: lightgray;
  padding: 10px;
}
section .label {
  float: right;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: lightgray;
}